In [25]:
import pandas as pd

data = pd.read_excel('drinking.xls', names = ['Gender', 'Alcohol', 'Height', 'Cheat'])

data

     Gender Alcohol  Height  Cheat
0    Female      15    64.0      0
1      Male      14    69.0      0
2    Female       *    66.0      0
3    Female      10    63.0      0
4      Male      30    72.0      0
5    Female      20    67.0      0
6      Male      15    69.0      0
7      Male      15    74.0      0
8      Male       0    72.0      0
9    Female       0    63.0      0
10     Male       *    68.5      0
11     Male       0    70.0      0
12     Male       0    71.0      0
13     Male       0    68.0      0
14   Female       0    60.0      0
15     Male       0    71.0      0
16   Female       *    68.0      0
17   Female       1    67.0      1
18   Female       0    66.0      1
19     Male       2    69.0      0
20     Male       *    69.0      0
21     Male       0    68.0      0
22   Female       1    67.0      0
23   Female       *    65.0      0
24   Female       *    61.0      0
25   Female       2    61.0      0
26   Female       0    64.0      0
27   Female       1    68.0      1
28     Male      10    69.0      0
29     Male       *    68.0      0
..      ...     ...     ...    ...
206  Female       0    63.0      1
207  Female       6    65.0      0
208  Female       1    62.0      0
209  Female       0    63.0      1
210  Female       *    65.0      0
211  Female       0    63.0      0
212  Female       0    64.0      0
213  Female      10    68.0      0
214  Female       0    64.0      0
215  Female       0    61.0      0
216  Female       0    62.0      0
217  Female       0    66.0      1
218    Male      10    74.0      0
219    Male      15    72.0      0
220    Male      30    72.0      0
221  Female       6    68.0      0
222  Female       0    65.0      0
223  Female       1    69.0      0
224  Female      10    65.0      0
225  Female       3    64.0      0
226    Male      12    73.0      0
227  Female       *    64.0      0
228  Female       1    67.0      0
229    Male      30    72.0      0
230    Male      12    73.0      0
231    Male       *    74.0      0
232  Female       0    68.0      0
233  Female       1    73.0      1
234    Male       6    68.0      0
235    Male       6    63.0      0

[236 rows x 4 columns]

In [28]:
alcohol_not_star = data['Alcohol'].index[data['Alcohol'] != '*']
alcohol_not_star

Int64Index([  0,   1,   3,   4,   5,   6,   7,   8,   9,  11,
            ...
            224, 225, 226, 228, 229, 230, 232, 233, 234, 235],
           dtype='int64', length=206)

In [29]:
alcohol = data.iloc[alcohol_not_star]
alcohol

     Gender Alcohol  Height  Cheat
0    Female      15    64.0      0
1      Male      14    69.0      0
3    Female      10    63.0      0
4      Male      30    72.0      0
5    Female      20    67.0      0
6      Male      15    69.0      0
7      Male      15    74.0      0
8      Male       0    72.0      0
9    Female       0    63.0      0
11     Male       0    70.0      0
12     Male       0    71.0      0
13     Male       0    68.0      0
14   Female       0    60.0      0
15     Male       0    71.0      0
17   Female       1    67.0      1
18   Female       0    66.0      1
19     Male       2    69.0      0
21     Male       0    68.0      0
22   Female       1    67.0      0
25   Female       2    61.0      0
26   Female       0    64.0      0
27   Female       1    68.0      1
28     Male      10    69.0      0
30     Male      12    72.0      0
31   Female       3    68.0      0
33   Female       1    65.5      0
34   Female       0    67.0      0
35   Female       0    70.0      0
36   Female       8    67.0      0
37   Female       0    62.5      0
..      ...     ...     ...    ...
203  Female       2    63.0      0
204  Female       0    63.0      0
205  Female       0    62.0      0
206  Female       0    63.0      1
207  Female       6    65.0      0
208  Female       1    62.0      0
209  Female       0    63.0      1
211  Female       0    63.0      0
212  Female       0    64.0      0
213  Female      10    68.0      0
214  Female       0    64.0      0
215  Female       0    61.0      0
216  Female       0    62.0      0
217  Female       0    66.0      1
218    Male      10    74.0      0
219    Male      15    72.0      0
220    Male      30    72.0      0
221  Female       6    68.0      0
222  Female       0    65.0      0
223  Female       1    69.0      0
224  Female      10    65.0      0
225  Female       3    64.0      0
226    Male      12    73.0      0
228  Female       1    67.0      0
229    Male      30    72.0      0
230    Male      12    73.0      0
232  Female       0    68.0      0
233  Female       1    73.0      1
234    Male       6    68.0      0
235    Male       6    63.0      0

[206 rows x 4 columns]

In [37]:
alcohol['Alcohol']

pandas.core.series.Series

In [33]:
alcohol['Alcohol'].mean()

4.5388349514563107

In [34]:
alcohol['Alcohol'].std()

6.9159375218962493

In [40]:
alcohol['Alcohol'].quantile(q = 0.25), alcohol['Alcohol'].quantile(q = 0.5), alcohol['Alcohol'].quantile(q = 0.75)

(0.0, 1.0, 7.0)

In [42]:
alcohol['Alcohol'].min(), alcohol['Alcohol'].max()

(0, 36)